
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "node_modules/font-awesome/scss/font-awesome.scss";

body {
    background: none !important;
}


.navlev {
  background-color: #e7e7e7;

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
